<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <img class="icon icon--white collapsible__chevron" src="icons/chevron.svg" alt="">
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vitae similique unde recusandae asperiores eum rem, quasi numquam modi reprehenderit!
    </div>
</div>        
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 2</h2>
        <img class="icon icon--white collapsible__chevron" src="icons/chevron.svg" alt="">
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vitae similique unde recusandae asperiores eum rem, quasi numquam modi reprehenderit!
    </div>
</div>        
<script src="/js/main.js"></script>