<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__heading">Products</h2>
                <img class="icon icon--white collapsible__chevron" src="icons/chevron.svg" alt="">
            </div>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>        
        <section class="collapsible footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__heading">Item 2</h2>
                <img class="icon icon--white collapsible__chevron" src="icons/chevron.svg" alt="">
            </div>
            <div class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vitae similique unde recusandae asperiores eum rem, quasi numquam modi reprehenderit!
            </div>
        </section>
        <section class="collapsible footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__heading">Item 3</h2>
                <img class="icon icon--white collapsible__chevron" src="icons/chevron.svg" alt="">
            </div>
            <div class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vitae similique unde recusandae asperiores eum rem, quasi numquam modi reprehenderit!
            </div>
        </section>
        <div class="footer__brand">
            <img src="images/logo.svg" alt="">
            <p class="footer__copyright">Copyright &copy; 2020 mosh</p>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>